snippet cc "Copyright header for Chromium project" b
# Copyright 2016 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
$0
endsnippet

snippet im "Import" b
import ${1:item}
endsnippet
